@font-face {
    font-family: mifuente;
    src: url("fuentes/Roboto-Regular.ttf");
}

body {
    font-family: mifuente;
    background: linear-gradient(180deg, #73ccff 0%, #0059ff 100%);
    min-height: 100vh;
    height: auto;
    margin: 0px;
    margin-bottom: 50px;
}

#formularioIniciarSesion {
    width: 300px;
    height: 280px;
    position: relative;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    text-align: center;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 10px black;
}

#formularioIniciarSesion span {
    color: rgb(0, 17, 255);
    font-weight: 700;
    font-size: 25px;
}

#formularioIniciarSesion input[type="text"], #formularioIniciarSesion input[type="password"] {
    padding: 5px 10px 5px 15px;
    border: none;
    outline: none;
    height: 30px;
    background-color: rgb(243, 243, 243);
    border-bottom: 3px solid rgb(243, 243, 243);
    margin-top: 20px;
    width: 200px;
}
#formularioIniciarSesion input[type="text"]:hover, #formularioIniciarSesion input[type="password"]:hover, #formularioIniciarSesion input[type="text"]:focus, #formularioIniciarSesion input[type="password"]:focus {
    border-bottom: 3px solid rgb(0, 17, 255);
    border-radius: 5px;
}

#formularioIniciarSesion input[type="submit"] {
    border-radius: 10px;
    outline: none;
    background-color:white;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: 180px;
    border: 3px solid rgb(0, 17, 255);
    color: rgb(0, 17, 255);
    font-weight: 700;
    font-size: 16px;
}
#formularioIniciarSesion input[type="submit"]:hover {
    background-color:rgb(0, 17, 255);
    color: white;
}

#formularioIniciarSesion select {
    outline: none;
    padding: 5px;
    margin-top: 17px;
    width: 100px;
}

#formularioIniciarSesion a {
    color: rgb(2, 9, 105);
}
#formularioIniciarSesion a:hover {
    color:  rgb(0, 17, 255);
}
#formularioIniciarSesion a:visited {
    color:  rgb(2, 9, 105);
}

#header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px black;
}

#botonCerrarSesion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #9c2525;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    outline: none;
    right: 0px;
}
#botonCerrarSesion:hover {
    background-color: #b31616;
    box-shadow: 0px 0px 10px grey;
}

#logo {
    width: 130px;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

#tablaHeader {
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 30px;
    height: 60%;
}

#tablaHeader td {
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
    border-bottom:2px solid white;
    
}
#tablaHeader td:hover {
    transition: all 0.2s;
    border-bottom: 2px solid #ffbf00;
    background-color: #fffbee;
    box-shadow: 0px 0px 10px #ffbf0048;
}

/* APARIENCIA DE LAS VISTAS DE GESTIÓN DE USUARIOS, INSTALACIONES Y RESERVAS */

#divContenedor {
    width: 80%;
    height: auto;
    background-color: white;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#titulo {
    font-size: 26px;
    font-weight: 700;
    margin-left: 20px;
}

#buscador {
    display: inline;
}

#buscador input {
    position: absolute;
    right: 4%;
    top: 18px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}
#buscador input:focus {
    background-color: rgb(240, 251, 255);
    box-shadow: 0px 5px 5px rgb(228, 228, 228);
}

#buscador button {
    position: absolute;
    right: 4%;
    float: right;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

#buscador button img {
    width: 20px;
    opacity: 0.6;
}

#buscador button img:hover {
    opacity: 1;
}

#divContenedor table {
    width: 100%;
}   

.elemento {
    width: 80%;
    background-color: rgb(238, 238, 238);
    height: auto;
    padding: 20px;
    position: relative;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.elementoDetalles {
    width: 80%;
    background-color: rgb(238, 238, 238);
    height: auto;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    text-align: center;
    display: none;
}

.elementoDetalles img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.elementoDetalles table {
    width: 80% !important;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

.elementoDetalles table tr th {
    width: 50%;
    text-align: left;
}
.elementoDetalles table tr td {
    width: 50%;
    word-break:break-word;
}

.elementoDetalles input.inputSinEscribir {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.elementoDetalles input.inputEscribir {
    width: 100%;
    outline: none;
}

.botonModificar {
    padding: 10px 20px 10px 20px;
    background-color: #0772ff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonModificar:hover {
    background-color: #055ed3;
}

.botonGuardar {
    padding: 10px 20px 10px 20px;
    background-color: #2ba144;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonGuardar:hover {
    background-color: #228a39;
}

.botonEliminar {
    padding: 10px 20px 10px 20px;
    background-color: #bd2727;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonEliminar:hover {
    background-color: #b11111;
}

#botonDefinitivo {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #212d9c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
    cursor: pointer;
    outline: none;
    color: #fff;
    margin-right: 10px;
}

.disabled {
    cursor: not-allowed;
    background-color: rgb(197, 197, 197);
}

#divConfirmacion {
    position: fixed;
    width: 460px;
    height: 160px;
    background-color: white;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    display: none;
}

#fondo {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

#divConfirmacion span, #divModificarIncidencia span, #divCrearIncidencia span {
    font-size: 22px;
    position: relative;
    top: 20px;
}

#botonConfirmar {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color:#212d9c;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    margin-right: 10px;
}
#botonConfirmar:hover {
    background-color: #1528da;
}

#botonCancelar {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #882929;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    margin-left: 10px;
}
#botonCancelar:hover {
    background-color: #ac2121;
}