@font-face {
    font-family: mifuente;
    src: url("fuentes/Roboto-Regular.ttf");
}

body {
    font-family: mifuente;
    background: linear-gradient(180deg, #73ccff 0%, #0059ff 100%);
    min-height: 100vh;
    height: auto;
    margin: 0px;
    margin-bottom: 50px;
    background-attachment: fixed
}

#formularioIniciarSesion {
    width: 300px;
    height: 280px;
    position: relative;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    text-align: center;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 10px black;
}

#formularioIniciarSesion span {
    color: rgb(0, 17, 255);
    font-weight: 700;
    font-size: 25px;
}

#formularioIniciarSesion input[type="text"], #formularioIniciarSesion input[type="password"] {
    padding: 5px 10px 5px 15px;
    border: none;
    outline: none;
    height: 30px;
    background-color: rgb(243, 243, 243);
    border-bottom: 3px solid rgb(243, 243, 243);
    margin-top: 20px;
    width: 200px;
}
#formularioIniciarSesion input[type="text"]:hover, #formularioIniciarSesion input[type="password"]:hover, #formularioIniciarSesion input[type="text"]:focus, #formularioIniciarSesion input[type="password"]:focus {
    border-bottom: 3px solid rgb(0, 17, 255);
    border-radius: 5px;
}

#formularioIniciarSesion input[type="submit"] {
    border-radius: 10px;
    outline: none;
    background-color:white;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: 180px;
    border: 3px solid rgb(0, 17, 255);
    color: rgb(0, 17, 255);
    font-weight: 700;
    font-size: 16px;
}
#formularioIniciarSesion input[type="submit"]:hover {
    background-color:rgb(0, 17, 255);
    color: white;
}

#formularioIniciarSesion select {
    outline: none;
    padding: 5px;
    margin-top: 17px;
    width: 100px;
}

#formularioIniciarSesion a {
    color: rgb(2, 9, 105);
}
#formularioIniciarSesion a:hover {
    color:  rgb(0, 17, 255);
}
#formularioIniciarSesion a:visited {
    color:  rgb(2, 9, 105);
}

#header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px black;
}

#botonCerrarSesion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #9c2525;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    outline: none;
    right: 0px;
}
#botonCerrarSesion:hover {
    background-color: #b31616;
    box-shadow: 0px 0px 10px grey;
}

#logo {
    width: 130px;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

#tablaHeader {
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 30px;
    height: 60%;
}

#tablaHeader td {
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
    border-bottom:2px solid white;
    
}
#tablaHeader td:hover {
    transition: all 0.2s;
    border-bottom: 2px solid #0099ff;
}

/* APARIENCIA DE LAS VISTAS DE GESTIÓN DE USUARIOS, INSTALACIONES Y RESERVAS */

#divContenedor {
    width: 80%;
    height: auto;
    background-color: white;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgb(68, 68, 68);
}

#titulo {
    font-size: 26px;
    font-weight: 700;
    margin-left: 20px;
}

#ordenar {
    display: inline;
}

#ordenar select {
    position: absolute;
    right: 23%;
    top: 18px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    color: grey;
}

#borrados {
    display: inline;
    position: absolute;
    right: 45%;
}
#borrados input {
    cursor: pointer;
}

#buscador {
    display: inline;
}

#buscador input {
    position: absolute;
    right: 4%;
    top: 18px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}
#buscador input:focus {
    box-shadow: 0px 5px 5px rgb(228, 228, 228);
}
#buscador input:focus::placeholder {
    color: white;
}

#buscador button {
    position: absolute;
    right: 4%;
    float: right;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

#buscador button img {
    width: 20px;
    opacity: 0.6;
}

#buscador button img:hover {
    opacity: 1;
}

#divContenedor table {
    width: 100%;
}   

#divContenedor table td {
    width: 33%;
}

.elemento {
    width: 80%;
    background-color: rgb(238, 238, 238);
    height: auto;
    padding: 20px;
    position: relative;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.elementoBorrado {
    background-color: rgb(253, 191, 191) !important;
}

.nuevo-usuario {
    font-weight: 700;
    color: white;
    background-color: #2196F3;
    padding: 5px 30px 5px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #dadada;
    cursor: pointer;
    outline: none;
    border: 2px solid #2196F3;
}
.nuevo-usuario:hover {
    background-color: #1b7bc9;
    border: 2px solid #1b7bc9;
}
.nuevo-usuario:active {
    background-color: #ffffff;
    color: #1b7bc9;
    border: 2px solid #2196F3;
}

.nuevo-usuario-div {
    width: 500px;
    top: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding-bottom: 40px;
    display: none;
    margin-bottom: 10%;
}

.nuevo-usuario-div table {
    width: 80% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

textarea,select {
    outline: none;
}


.no-linea {
    text-decoration: none !important;
    cursor: default;
}

.elementoDetalles {
    width: 80%;
    margin-top: -10px;
    background-color: rgb(238, 238, 238);
    height: auto;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0px 10px 8px black;
    text-align: center;
    display: none;
    margin-bottom: 40px;
}

.elementoDetalles img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.elementoDetalles table {
    width: 80% !important;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

.elementoDetalles table tr th {
    width: 50%;
    text-align: left;
}
.elementoDetalles table tr td {
    width: 50%;
    word-break: break-word;
}

.elementoDetalles input.inputSinEscribir {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.elementoDetalles input.inputEscribir {
    width: 100%;
    outline: none;
}

.elementoDetalles input.inputEscribir:focus {
    box-shadow: 0px 0px 10px grey;
}

.botonModificar {
    padding: 10px 20px 10px 20px;
    background-color: #0772ff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonModificar:hover {
    background-color: #055ed3;
}

.botonGuardar {
    padding: 10px 20px 10px 20px;
    background-color: #2ba144;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonGuardar:hover {
    background-color: #27973f;
}

.botonEliminar {
    padding: 10px 20px 10px 20px;
    background-color: #bd2727;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
}
.botonEliminar:hover {
    background-color: #a71010;
}

#botonDefinitivo {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #212d9c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
    cursor: pointer;
    outline: none;
    color: #fff;
    margin-right: 10px;
}

.disabled {
    cursor: not-allowed;
    background-color: rgb(197, 197, 197);
}

#divConfirmacion {
    position: fixed;
    width: 460px;
    height: 160px;
    background-color: white;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    display: none;
}

#fondo {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

#divConfirmacion span, #divModificarIncidencia span, #divCrearIncidencia span {
    font-size: 22px;
    position: relative;
    top: 20px;
}

#botonConfirmar {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color:#212d9c;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    margin-right: 10px;
}
#botonConfirmar:hover {
    background-color: #1528da;
}

#botonCancelar {
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #882929;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    outline: none;
    color: white;
    margin-left: 10px;
}
#botonCancelar:hover {
    background-color: #ac2121;
}

#perfil {
    width: auto !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#tablaPrincipal td {
    width: 50% !important;
    vertical-align: top;
}
#tablaPrincipal {
    padding: 20px;
}

#perfil img, .nuevo-usuario-div table img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 10px 10px black;
}

#perfil td, .nuevo-usuario-div table td {
    font-size: 20px;
    word-break: break-word;
}

#perfil td input, .nuevo-usuario-div table td input {
    padding: 4px;
    outline: none;
}

.perfilInfo, .perfilReservas {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding-bottom: 40px;
}

.tituloTablaPerfil {
    padding: 20px;
}
.tituloTablaPerfil span {
    font-size: 22px;
}

.oculto {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px !important;
    outline: none;
}
.oculto:focus {
    background-color: transparent;
}

#tablaReservasPerfil {
    width: 80% !important;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#tablaReservasPerfil td {
    width: 25% !important;
}

.mes {
    width: 100% !important;
    margin-top: 20px;
    border-spacing: 0px;
    text-align: center;
    margin-bottom: 20px;
}
.mes td {
    width: 14.3% !important;
    background-color: rgb(230, 230, 230);
    border: 1px solid white;
    border-bottom: 2px solid blue;
    height: 120px;
}

.diaVacio {
    background-color:transparent !important;
    border: none !important;
    border-bottom: none !important;
}

.tituloMes {
    font-size: 35px;
    font-weight: bold;
    height: 45px !important;
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 20px;
}

.diaMes {
    font-size: 20px;
    font-weight: bold;
    height: 20px !important;
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 10px;
}

#tablaMaestra {
    transition: 1s ease-in-out;
}

#tablaMaestra .tdMaestro {
    width: 50% !important;
}

#anterior, #siguiente {
    padding: 4px;
    background-color: blue;
    color: white;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    outline: none;
}
#anterior {
    right: 75px;
}
#siguiente {
    right: 20px;
}

.mesNoDisponible {
    background-color: grey !important;
    cursor: not-allowed !important;
}